{{ if .Site.Params.mailchimp.enable }}
<div class="col col-4 col-d-12">
  <div class="widget-footer widget-subscribe">
    {{ if .Site.Params.mailchimp.mailchimp__title }}
    <h3 class="widget-title">{{ .Site.Params.mailchimp.mailchimp__title }}</h3>
    {{ end }}
    {{ if .Site.Params.mailchimp.mailchimp__description }}
    <p class="widget-footer__desc">{{ .Site.Params.mailchimp.mailchimp__description }}</p>
    {{ end }}
    <form class="subscribe-form" href="#signUp" action="">
      <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
      <input class="subscribe-email" id="mce-EMAIL" type="text" name="EMAIL"
        placeholder="Email address">
      <a href="#signUp" class="button button--primary button--big subscribe-button">{{ .Site.Params.cta_button.cta_button_text }}</a>

    </form>
  </div>
</div>
{{ end }}
