{{ define "main" }}
{{ with .Params.home }}
{{ if .enable}}

<section class="home-sect">
    <div class="img">
        <div class="content">
            <img src="{{ .image }}" alt="site logo" class="home-img">
        </div>
    </div>
    <div class="bgblack">
        <div class="content">
            <h2 id="mainHeading">{{ .heading }}</h2>
        </div>
    </div>
{{ end }}
{{ end }}

{{ with .Params.forum }}
{{ if .enable }}
    <div class="bgorange" id="signUp">
        <div class="content">
            <h3>{{ .title }}</h3>
            <p class="home-p">{{ .para }}</p>
        </div>
        <div class="forum">
            <form name="contact" method="POST" data-netlify="true">
                <input type="text" placeholder="{{ .name }}" class="input-box" required>
                <input type="email" placeholder="{{ .email }}" class="input-box" required>
                <select name="personality" id="personality" class="input-box" required>
                    <option value="describe you">{{ .select }}</option>
                    <option value="mover.">{{ .option1 }}</option>
                    <option value="movement curious.">{{ .option2 }}.</option>
                    <option value="facilitator.">{{ .option3 }}</option>
                </select>
                <button class="input-box home-button">{{ .btn }}</button>
            </form>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
{{ end }}